@import "variables.scss";

*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

iframe {
    display: none;
}


.pdf-viewer {
    position: fixed;
    top: 5.5rem;
    left: 32.5%; 
    transition: all ease-in-out .3s;
    display: none;
    opacity: 0;
    z-index: 100;


    .button-container {
        display: flex;
        justify-content: space-evenly;
        background: rgba(0, 0, 0, 0.561);
        border-radius: 0.5rem;
        height: 2rem;

        button {
            margin: 0.25rem 0.75rem;
            width: 4rem;
            background-color: $blue;  
            font-size: 1.25rem;
            border-radius: .45rem;
            cursor: pointer;
            text-align: center;
            border: .5px solid white;
            transition: all ease-in-out .3s;
            font-weight: 300;
            color: white;
            padding: 0 0 1.65rem 0;

            &:hover {
                background-color: white;
                border: 1px solid $blue;
                color: $blue;
                font-weight: 600;
            }

            @media screen and (max-width: 500px) {
                width: 2.5rem;
                font-size: 0.75rem;
                padding: 0 0 0rem 0;
            }
        }
        .count {
            width: 10rem;
            height: 1.5rem;
            color: white;
            margin: 0.45rem 0 0 0;
            font-size: 0.85rem;
        }

        svg {
            margin: .45rem 0 0 0;
            stroke:#fff; 
            stroke-width:2.5;
            transition: all ease-in-out .3s;
            cursor: pointer;

            &:hover {
                stroke: $blue;
            }
        }
    }
    @media screen and (max-width: 1300px) {
        left: 25.5%; 
    }
    @media screen and (max-width: 1115px) {
        left: 20.5%; 
    }
    @media screen and (max-width: 925px) {
        left: 15.5%; 
    }
    @media screen and (max-width: 800px) {
        left: 7.5%; 
    }
    @media screen and (max-width: 700px) {
        left: 4.5%; 
    }
}

body {
    background-image: url(../img/heli-6.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

nav {
    width: 100%;
    height: 3rem;
    background-color: white;
    display: flex;
    position: fixed;
    z-index: 500;

    .click-ham {
        width: 85px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 11;
        cursor: pointer;
    }

    .click-remove {
        width: 85px;
        height: 48px;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        z-index: 11;
        cursor: pointer;
    }

    span {
        display: flex;
        margin: auto 0;
        margin-left: 1rem;
        width: 100%;

        img {
            width: 2rem;
            height: 2rem;
            align-self: center;
        }

         h3 {
             margin: auto 1rem;
             color: $grey;
            @media screen and (max-width: $break-medium) {
                font-size: .75rem;
            }
        }
    } 

    svg {
        cursor: pointer;
        margin: 0 2rem 0 0;

        line {
            stroke: black;
            stroke-width: 0.2em;
            stroke-linecap: round;

            @media screen and (max-width: $break-small) {
                stroke-width: 0.15rem;
            }           
        }
        @media screen and (max-width: $break-small) {
            width: 40;
            margin: 0 0.5rem 0 0;
        }
    }

    .remove-menu {
        transition: all ease-in-out .3s;
        cursor: pointer;
        margin: 0.25rem 2rem 0 0;
        display: none;
        z-index: 2;

        line {
            stroke: #000000;
            stroke-width: 0.2rem;
            stroke-linecap: round;
            transition: all ease-in-out 0.3s;
            z-index: 1;
        }

        &:hover {
            transform: scale(1.1);

            line {
                stroke: $blue;
            }
        }
    }
}

.ham-nav {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
    z-index: 100;


    ul {
        align-self: center;
        list-style-type: none;
        li {
            color: white;
            width: 20rem;
            height: 4rem;
            border-radius: 0.5rem;
            text-align: center;
            margin: 0 0 2rem 0;
            font-size: 3.5rem;
            text-transform: capitalize;
            cursor: pointer;
            transition: all ease-in-out 0.3s;


            &:hover {
                color: $blue;
                transform: scale(1.1)
            }
        }
    }
}

.content {
    width: 75%;
    align-self: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;

    .nav nav.top-3-nav {
        position: absolute;
        align-self: center;
        display: flex;
        justify-content: center;
        background-color: transparent;
        margin: 2.75rem 0 0 0;
        height: 2.5rem;
        text-transform: capitalize;
        z-index: 0;

        .ul-top-3 {
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 100%;
            transform: scaleY(0);
            transform-origin: top;
            opacity: 0;

            li {
                width: 20%;
                background-color: $grey;
                margin: 0 1%;
                min-width: 5rem;
                color: white;
                padding: 0.40rem 0 0 0;
                cursor: pointer;
                font-size: 1.15rem;
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;

                @media screen and (max-width: $break-medium) {
                    font-size: 0.75rem;
                    padding: 0.65rem 0;
                }
            }
        }
    }

        .button {
            width: 15rem;
            min-width: 10rem;
            height: 2.5rem;
            background-color: $blue;  
            font-size: 1.25rem;
            border-radius: .45rem;
            cursor: pointer;
            text-align: center;
            border: .5px solid white;
            transition: all ease-in-out .3s;
            font-weight: 300;
            color: white;

        &:hover {
            background-color: white;
            border: 2px solid $blue;
            color: $blue;
            font-weight: 600;
        }
    }


        .nav {
            width: 100%;
            margin: 8rem 0 0 0;
            align-self: center;
            display: flex;
            justify-content: center;

                .ul-nav {
                    height: 3rem;
                    display: flex;
                    justify-content: space-around;
                    list-style-type: none;
                    width: 95%;
                    border-bottom: 1.25px solid $grey;

                        li {
                            font-size: 1.25em;
                            cursor: pointer;
                            color: white;
                            margin: 1rem 0 0 0;

                            @media screen and (max-width: $break-medium) {
                                font-size: .85rem;
                                margin: 1.25rem 0 0 0;
                            }
                        }

                }
            @media screen and (max-width: $break-medium) {
                margin: 4rem 0 0 0;
            }
        }

    @media screen and (max-width: $break-medium) {
        width: 95%;
    }
}
