* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  width: 80%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  margin: 13rem 0;
}

.options-wrapper .iframe-options {
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
  max-width: 640px;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.options-wrapper .iframe-options i {
  color: black;
  cursor: pointer;
  margin: 2.5rem 0 0 0;
  z-index: 200;
}

.options-wrapper iframe {
  height: 100%;
}

iframe .options-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  margin: 15rem 0;
}

.pdf-viewer {
  position: fixed;
  top: 5.5rem;
  left: 32.5%;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  display: none;
  opacity: 0;
  z-index: 100;
}

.pdf-viewer .button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.561);
  border-radius: 0.5rem;
  height: 2rem;
}

.pdf-viewer .button-container button {
  margin: 0.25rem 0.75rem;
  width: 4rem;
  background-color: #6596ff;
  font-size: 1.25rem;
  border-radius: .45rem;
  cursor: pointer;
  text-align: center;
  border: .5px solid white;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  font-weight: 300;
  color: white;
  padding: 0 0 1.65rem 0;
}

.pdf-viewer .button-container button:hover {
  background-color: white;
  border: 1px solid #6596ff;
  color: #6596ff;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .pdf-viewer .button-container button {
    width: 2.5rem;
    font-size: 0.75rem;
    padding: 0 0 0rem 0;
  }
}

.pdf-viewer .button-container .count {
  width: 10rem;
  height: 1.5rem;
  color: white;
  margin: 0.45rem 0 0 0;
  font-size: 0.85rem;
}

.pdf-viewer .button-container svg {
  margin: .45rem 0 0 0;
  stroke: #fff;
  stroke-width: 2.5;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.pdf-viewer .button-container svg:hover {
  stroke: #6596ff;
}

@media screen and (max-width: 1300px) {
  .pdf-viewer {
    left: 25.5%;
  }
}

@media screen and (max-width: 1115px) {
  .pdf-viewer {
    left: 20.5%;
  }
}

@media screen and (max-width: 925px) {
  .pdf-viewer {
    left: 15.5%;
  }
}

@media screen and (max-width: 800px) {
  .pdf-viewer {
    left: 7.5%;
  }
}

@media screen and (max-width: 700px) {
  .pdf-viewer {
    left: 4.5%;
  }
}

body {
  background-image: url(../img/heli-6.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

nav {
  width: 100%;
  height: 3rem;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 500;
}

nav .click-ham {
  width: 85px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
}

nav .click-remove {
  width: 85px;
  height: 48px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 11;
  cursor: pointer;
}

nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  margin-left: 1rem;
  width: 100%;
}

nav span img {
  width: 2rem;
  height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

nav span h3 {
  margin: auto 1rem;
  color: slategray;
}

@media screen and (max-width: 800px) {
  nav span h3 {
    font-size: .75rem;
  }
}

nav svg {
  cursor: pointer;
  margin: 0 2rem 0 0;
}

nav svg line {
  stroke: black;
  stroke-width: 0.2em;
  stroke-linecap: round;
}

@media screen and (max-width: 500px) {
  nav svg line {
    stroke-width: 0.15rem;
  }
}

@media screen and (max-width: 500px) {
  nav svg {
    width: 40;
    margin: 0 0.5rem 0 0;
  }
}

nav .remove-menu {
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  cursor: pointer;
  margin: 0.25rem 2rem 0 0;
  display: none;
  z-index: 2;
}

nav .remove-menu line {
  stroke: #000000;
  stroke-width: 0.2rem;
  stroke-linecap: round;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 1;
}

nav .remove-menu:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

nav .remove-menu:hover line {
  stroke: #6596ff;
}

.ham-nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.897);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
  z-index: 100;
}

.ham-nav ul {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  list-style-type: none;
}

.ham-nav ul li {
  color: white;
  width: 20rem;
  height: 4rem;
  border-radius: 0.5rem;
  text-align: center;
  margin: 0 0 2rem 0;
  font-size: 3.5rem;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.ham-nav ul li:hover {
  color: #6596ff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content {
  width: 75%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  text-align: center;
}

.content .nav nav.top-3-nav {
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  margin: 3rem 0 0 0;
  height: 3rem;
  text-transform: capitalize;
  z-index: 0;
}

.content .nav nav.top-3-nav .ul-top-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  width: 100%;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.content .nav nav.top-3-nav .ul-top-3 li {
  width: 20%;
  background-color: slategray;
  margin: 0 1%;
  min-width: 2.5rem;
  color: white;
  padding: 0.40rem 0 0 0;
  cursor: pointer;
  font-size: 1.15rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
  .content .nav nav.top-3-nav .ul-top-3 li {
    font-size: 0.75rem;
    padding: 0.65rem 0;
  }
}

.content .nav nav.top-3-nav .ul-top-3 li:hover {
  opacity: 0.85;
}

.content .button {
  width: 15rem;
  min-width: 10rem;
  height: 2.5rem;
  background-color: #6596ff;
  font-size: 1.25rem;
  border-radius: .45rem;
  cursor: pointer;
  text-align: center;
  border: .5px solid white;
  -webkit-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  font-weight: 300;
  color: white;
}

.content .button:hover {
  background-color: white;
  border: 2px solid #6596ff;
  color: #6596ff;
  font-weight: 600;
}

.content .nav {
  width: 100%;
  margin: 8rem 0 0 0;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .nav .ul-nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  width: 95%;
  border-bottom: 1.25px solid slategray;
}

.content .nav .ul-nav li {
  font-size: 1.25em;
  cursor: pointer;
  color: white;
  margin: 1rem 0 0 0;
}

@media screen and (max-width: 800px) {
  .content .nav .ul-nav li {
    font-size: .85rem;
    margin: 1.25rem 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  .content .nav {
    margin: 4rem 0 0 0;
  }
}

@media screen and (max-width: 800px) {
  .content {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */