.content .manuals {
  width: 95%;
  margin: 4rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.content .manuals ul {
  list-style-type: none;
}

.content .manuals ul li {
  color: white;
  text-decoration: underline;
  text-align: center;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.content .manuals ul li:hover {
  color: #6596ff;
}

.content .home-main-3 {
  width: 75%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem 0 0 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.content .home-main-3 ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.content .home-main-3 ul :nth-child(1) {
  font-size: 1rem;
  padding: .55rem 0 0 0;
}

.content .home-main-3 ul li {
  margin: 0 1rem;
  padding: 0.4rem 0 0 0;
}

@media screen and (max-width: 800px) {
  .content .home-main-3 ul li {
    width: 100%;
    margin: 1rem 0;
  }
}

@media screen and (max-width: 800px) {
  .content .home-main-3 ul {
    display: inline-block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    height: 100%;
    width: 15rem;
  }
}

@media screen and (max-width: 800px) {
  .content .home-main-3 {
    width: 100%;
  }
}

.content .power-trend-chart {
  text-align: center;
  color: white;
  margin: 2rem 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.content .home-main-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 3rem 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  opacity: 0;
}

.content .home-main-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.content .home-main-2 ul li {
  margin: 0 1rem;
  padding: .45rem 0;
}

@media screen and (max-width: 800px) {
  .content .home-main-2 ul li {
    width: 1rem;
    margin: 0 .25rem;
  }
}

@media screen and (max-width: 370px) {
  .content .home-main-2 ul li {
    margin: .5rem .25rem;
  }
}

@media screen and (max-width: 370px) {
  .content .home-main-2 ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem;
  }
}
/*# sourceMappingURL=home-styles.css.map */