@import "../variables.scss";

.content {

    .manuals {
        width: 95%;
        margin: 4rem 0;
        align-self: center;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        ul {
            list-style-type: none;

            li {
                color: white;
                text-decoration: underline;
                text-align: center;
                margin: 1rem 0 0 0;
                font-size: 1.5rem;
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .home-main-3 {
        width: 75%;
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 3rem 0 0 0;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        ul {
            list-style-type: none;
            display: flex;
            text-align: center;

            :nth-child(1){
                font-size: 1rem;
                padding: .55rem 0 0 0;
            }

            li {
                margin: 0 1rem;
                padding: 0.4rem 0 0 0;

                @media screen and (max-width: $break-medium) {
                    width: 100%;
                    margin: 1rem 0;
                }
            }

            @media screen and (max-width: $break-medium) {
                display: inline-block;
                align-self: center;
                height: 100%;
                width: 15rem;
            }
        }

        @media screen and (max-width: $break-medium) {
            width: 100%;
        }
    }
    .power-trend-chart {
        text-align: center;
        color: white;
        margin: 2rem 0;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
    }
    .home-main-2 {
        display: flex;
        justify-content: center;
        margin: 0 0 3rem 0;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;

        ul {
            display: flex;
            justify-content: center;
            list-style-type: none;

            li {
                margin: 0 1rem;
                padding: .45rem 0;

                @media screen and (max-width: $break-medium) {
                    width: 1rem;
                    margin: 0 .25rem;
                }

                @media screen and (max-width: 370px) {
                    margin: .5rem .25rem;
                }
            }
            @media screen and (max-width: 370px) {
                flex-direction: column;
                padding: 1rem;
            }
        }
    }
}